body {
    background-color:#495057;
    font-family: 'Acme', sans-serif;
    margin: 0;
    padding: 0;
}
.App {
    background-color: #495057;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}
/* header styling */
.header {
    /* padding: 15px 25px; */
    width: 100%;
    font-family: 'Acme', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 100%;
    z-index: 9999;
}
.header h1 {
    font: orange;
    font-weight: bold;
    font-size: 55px;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 1);
}
.header a {
    text-decoration: none;
    color: rgb(255, 151, 15);
    padding-left: 10px;
}
.header nav {
    margin: 7px 15px;
}
.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.header nav ul li a {
    padding: 10px 25px;
    font-size: 25px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer h2 {
    color: rgb(255, 151, 15);
}
footer a {
    font-size: 20pt;
    color: rgb(129, 205, 255);
}
/* about me styling */
.About-me {
    font-family: 'Acme', sans-serif;
    padding: 0px 0;
    margin: none;
    width: 100%;
    
}
.About-me h1 {
    color: #E9ECEF;
    font-size: 45pt;
}
.about-info {
    text-align: center;
    font-size: 18pt;
    color: rgb(129, 205, 255);
    padding: 0 50px;
}
.error {
   color: #E9ECEF;
}
.contact-me h3 {
    color: rgb(255, 151, 15);
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 30pt;
}
label {
   color: rgb(255, 151, 15);
   font-size: 18pt;
}

:root {
  --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

body {
  background: #111 !important;
}

.card {
  background: #222;
  border: 2px solid #dd2476;
  color: rgb(129, 205, 255);
  margin-bottom: 2rem;
}

.btn {
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source:  var(--gradient) !important; 
  text-decoration: none;
  transition: all .4s ease;
}

.btn:hover, .btn:focus {
  background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important; 
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}

/* media query for 980px max */
@media screen and (max-width: 980px) {
    .header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    .header h1 {
        width: 100%;
        text-align: center;
    }
    .header nav ul {
        margin-top: 20px;
        width: 100%;
    }
    footer h2 {
        text-align: center;
        width: 100%;
    }
}
/* media query for screens 768px and smaller */
@media screen and (max-width: 768px) {
    .flex-item img {
        padding: 20px 15px;
    }
    .header nav ul {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 575px) {
    .header nav ul {
        text-align: center;
        display: flex;
        flex-direction: column;
        font-size: 5px;
    }
    .header a {
        font-size: 40px;
    }
    .header nav ul li a {
        font-size: 15px;
    }
}
